* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: AstronBoyRegular;
  src: url("../fonts/astron-boy.rg-regular.otf");
}

@font-face {
  font-family: AstronBoyVideo;
  src: url("../fonts/astron-boy.video-regular.otf");
}

@font-face {
  font-family: AstronBoyWonder;
  src: url("../fonts/astron-boy.wonder-regular.otf");
}

@font-face {
  font-family: TekoVariable;
  src: url("../fonts/Teko/Teko-VariableFont_wght.ttf");
}

//
// * mixins ------------------------------------------------------------

@mixin font-style($ff, $fs, $ls) {
  font-family: $ff;
  font-size: $fs;
  letter-spacing: $ls;
}

@mixin size($w, $h) {
  width: $w;
  height: $h;
}

//
// * variables ------------------------------------------------------------
//
// font
$abr: "AstronBoyRegular", "Courier New", Courier, monospace;
$abv: "AstronBoyVideo", "Courier New", Courier, monospace;
$abw: "AstronBoyWonder", "Courier New", Courier, monospace;
$teko: "TekoVariable", "Courier New", Courier, monospace;

// text
$tc: rgb(140, 140, 140);

//
// * global classes ------------------------------------------------------------

.round-label-style {
  @include size(4.5rem, 4.5rem);
  @include font-style($teko, 2.5rem, 0);
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  padding: 6px;
}

.options-label-style {
  @include size(10rem, 10rem);
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  padding: 2rem;
  margin: 0 2rem;
}

//
// * general style ------------------------------------------------------------

html {
  background-color: rgb(25, 25, 25);
  font-size: 62.5%;
  //   overflow: hidden;
}

main {
  font-size: 5rem;
  color: $tc;
  padding: 5rem 0;
  user-select: none;
  // verhindert versehentliche text markierung beim
  // mehrfachen klicken auf die radio buttons
}

img {
  width: 5.5rem;
  height: auto;
}

input {
  display: none;
}

//
// * class style -------------------------------------------------------

.hidden {
  display: none;
}

//
// * section style -------------------------------------------------------

form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10rem 35rem 22rem 6rem;
}

section {
  margin: 0 auto;

  text-align: center;
}

// - rounds section -------------------------------------------------------
.rounds-section {
  div {
    padding: 1rem 0;
    p {
      @include font-style($teko, 2rem, 0.2rem);
      line-height: 1;
    }

    &.hidden {
      padding: 0.5rem;

      p {
        &:first-child {
          @include font-style($abr, 4rem, 0.2rem);
          margin-bottom: 0.2rem;
        }

        &#roundsOutput {
          @include font-style($teko, 4rem, 0.5rem);

          padding: 0.2rem 0;
        }
      }
    }

    label {
      @extend .round-label-style;
    }

    label.checked {
      background-color: indigo;
    }
  }
}

// - score section -------------------------------------------------------
.score-section {
  margin-bottom: 3rem;
  p.hide {
    @include font-style($abw, 8rem, 0.2rem);
    margin: 20rem 0 5rem 0;
  }
  div.hidden {
    .flex-container {
      @include size(70vw, 20rem);
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin: 2rem auto 0 auto;

      div.player {
        @include size(25rem, auto);
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 2rem;

        p {
          @include font-style($abr, 5rem, 0); // you/computer
        }

        .img-container {
          @extend .options-label-style;

          img {
            @include font-style($teko, 1rem, 0);
          }
        }
      }
      p {
        @include font-style($abw, 8rem, 0); // VS.
      }
    }
    p#scoreOutput {
      @include font-style($teko, 4rem, 0.5rem);
    }
  }
  div#resultOutput {
    @include font-style($abr, 3rem, 0.2rem);

    span {
      @include font-style($abw, 5rem, 0);
    }
  }
}

// - options section -------------------------------------------------------
.options-section {
  margin: 2rem 0 0 0;
  position: relative;
  div {
    div {
      p {
        // &.hide {
        //   @include font-style($abw, 8rem, 0.2rem);
        //   margin: 20rem 0 6.2rem 0;
        // }
        &:last-child {
          @include font-style($abr, 4rem, 0.2rem);
          margin: 3rem 0 1rem 0;
        }
      }
    }
    label {
      @extend .options-label-style;
      background-color: indigo;
    }

    p#scoreOutput {
      @include font-style($teko, 4rem, 0);
    }
  }
}

// - game over section -------------------------------------------------------

.game-over-section {
  p#gameOver {
    @include font-style($abv, 10rem, 0.5rem);
    // ! wenn gewonnen blau wenn verloren rot
    // !animation
    animation: gameOver 6s infinite;
    overflow: hidden;
    white-space: nowrap;
  }
  p#endResult {
    @include font-style($abr, 8rem, 0);
    line-height: 0.5;
    padding-bottom: 2.8rem;
  }
}

p#restart {
  @include font-style($abr, 3rem, 0.5rem);
  text-align: center;
  padding: 1.2rem 0;
  color: purple;
  text-shadow: -0.5px -0.5px 0 $tc, 0.5px -0.5px 0 $tc, -0.5px 0.5px 0 $tc,
    0.5px 0.5px 0 $tc;

  a {
    text-decoration: none;
  }
}

//
// * keyframes -------------------------------------------------------

@keyframes gameOver {
  0% {
    transform: scaleX(0.8); /* Keine Streckung (normaler Text) */
  }
  50% {
    transform: scaleX(1.8); /* Streckung um 50% zur Hälfte der Animation */
  }
  100% {
    transform: scaleX(
      0.8
    ); /* Zurück zur normalen Breite am Ende der Animation */
  }
}

@keyframes shake {
  0% {
    transform: translate(0) scale(1) rotate(0deg);
  }
  25% {
    transform: translate(-10%, -10%) scale(0.5) rotate(-90deg);
  }
  50% {
    transform: translate(10%, 10%) scale(1.5) rotate(180deg);
  }
  75% {
    // transform: translate(10%, 10%) scale(1.5) rotate(90deg);
  }
  100% {
    transform: translate(0) scale(1) rotate(0deg);
  }
}

// * mobile version -------------------------------------------------------

@media screen and (max-width: 390px) {
  //

  main {
    padding: 2rem 0;
  }
  form {
    margin: 0 auto;
    grid-template-rows: 10rem 30rem 18rem 6rem;
  }

  .rounds-section div.hidden p:first-child,
  .rounds-section div.hidden p#roundsOutput {
    font-size: 3rem;
  }

  .score-section p.hide {
    font-size: 4rem;
  }

  .score-section div.hidden .flex-container {
    height: 10rem;
  }

  .options-section {
    margin: 0;
  }
  .options-label-style,
  .options-section div label,
  .score-section div.hidden .flex-container div.player .img-container {
    width: 5rem;
    height: 5rem;
    padding: 0;
  }

  .options-section div div p:last-child {
    margin: 1rem 0;
  }

  img {
    width: 3rem;
    margin-bottom: 0.6rem;
  }

  .score-section div.hidden .flex-container div.player p {
    font-size: 3rem;
  }

  .score-section div.hidden .flex-container p {
    font-size: 5rem;
  }

  .score-section div.hidden .flex-container {
    width: 90vw;
  }

  .score-section div#resultOutput {
    width: 75vw;
    margin: 0 auto;
  }
  .score-section div#resultOutput p {
    white-space: nowrap;
  }

  .score-section div#resultOutput span {
    font-size: 4rem;
  }

  .game-over-section p#gameOver {
    font-size: 4rem;
    margin-bottom: 3rem;
  }

  .game-over-section p#endResult {
    font-size: 5rem;
  }

  @keyframes gameOver {
    0% {
      transform: scaleX(0.8); /* Keine Streckung (normaler Text) */
    }
    50% {
      transform: scaleX(1.5); /* Streckung um 50% zur Hälfte der Animation */
    }
    100% {
      transform: scaleX(
        0.8
      ); /* Zurück zur normalen Breite am Ende der Animation */
    }
  }
}

//
// ----------------------------------------------------------
// emoji animation idee (nicht fertig)

// .emojis-container {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100vw;
//     height: 100vh;
//     pointer-events: none;
//     z-index: 9999;
//   }
//   .emoji {
//     position: absolute;
//     font-size: 54px;
//     animation: fly linear infinite;
//     white-space: nowrap;
//   }

//   @keyframes fly {
//     0% {
//       transform: translate(-50%, -50%) rotate(0deg);
//       opacity: 1;
//     }
//     100% {
//       transform: translate(calc(-50% + var(--x)), calc(-50% + var(--y)))
//         rotate(360deg);
//       opacity: 0;
//     }
//   }
